body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.main_container {
  background: #e5e5e5;
}
nav {
  background: #ffffff;
}
.guise-navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: left;
  margin: 0 auto;
  margin-left: 0;
}
.guise_slider {
  padding: 28px;
  padding-bottom: 70px;
  margin-bottom: 70px;
}

.guise_slider .carousel-control-next,
.guise_slider .carousel-control-prev {
  top: calc(100% - 31px);
  background: #ffffff;
  border: 1px solid #0038ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px -2px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: #0038ff;
  font-size: 14px;
  font-weight: 800;
  opacity: 1;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
}
.guise_slider .carousel-control-next {
  right: 28px;
  left: auto;
}
.guise_slider .carousel-control-prev {
  left: 28px;
  right: auto;
}
.slide_wrap {
  position: relative;
}
.slide_wrap .slide_indicator {
  position: absolute;
  bottom: 50px;
  width: 100%;
  color: #8f8fd6;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}
.guise-navbar ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #1f1a76;
  cursor: pointer;
  margin-right: 43px;
}

.vechile_list {
  padding: 35px 30px;
}
.vechile_list h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #403f95;
  font-weight: bold;
  padding-bottom: 13px;
}
.vechile_list .list_check {
  padding-left: 0;
  list-style: none;
}
.vechile_list li {
  border-top: 1px solid #ececec;
  padding: 11px 5px;
  font-size: 14px;
  color: #13116c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.vechile_list li:last-child {
  border-bottom: 1px solid #ececec;
}
.vechile_list li input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
nav ul li img {
  padding-right: 5px;
}
nav ul li.active{
  border-bottom: 2px solid #0038ff;
  color: #0038ff;
}
nav ul li {
  color: #1f1a76;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
  margin-top: 15px;
}
.right_testing_col{position: relative;}
.right_btn_nav.text-center {
  position: absolute;
  bottom: 65px;
  align-items: center;
  justify-content: space-between;
  width: 78%;
  display: flex;
}
.right_btn_nav button:first-child {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  background: none;
  border: none;
  color: #403f95;
}
.guise_btn {
  background: #0038ff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 20px;
}
.uploadExcel_btn {
  margin-top: 20px;
}
.guise_btn.btn_lg {
  height: 50px;
  min-width: 165px;
  position: absolute;
  bottom: 27%;
  left: 30%;
}
.outer_wrap {
  margin: 30px 25px;
  position: relative;
}
.outer_wrap label {
  width: 100%;
}
.outer_wrap input[type="file"] {
  position: absolute;
  left: -999px;
  visibility: hidden;
  opacity: 0;
}
.upload_wrap {
  background: #fbfbff;
  border: 1px dashed #0568f9;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 15px;
  max-width: 642px;
  height: 372px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upload_wrap .warning_text {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #8f8fd6;
  font-size: 12px;
}
.main_container {
  padding: 25px 37px;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.main_container .inner-wrap {
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
}
.main_container .inner-wrap [class*="col-"]:first-child {
  border-right: 1px solid #e3e3e3;
}
.upload_wrap h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 13px;
}
.upload_wrap p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #8f8fd6;
  margin-bottom: 20px;
}
.upload_img {
  background: #ececfb;
  border-radius: 35px;
  height: 103px;
  width: 103px;
  line-height: 103px;
  text-align: center;
  margin-bottom: 20px;
}
.navbar.guise-navbar {
  padding-bottom: 0;
  padding-top: 0;
}
.doc_process {
  margin-top: 40px;
}
.doc_process ul {
  list-style: none;
  padding-left: 0;
}
.doc_process li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doc_process li img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.progress_bar .legends {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #8f8fd6;
  font-size: 16px;
}
.progress_bar {
  width: calc(100% - 100px);
}
.progress_bar .bar_place {
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  background-color: #ececfb;
}
.progress_bar .bar {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  background: linear-gradient(90deg, #0038ff 0%, #00e0ff 101.39%);
}
.doc_process .close {
  font-size: 20px;
  color: #8f8fd6;
  display: block;
  background-color: #ececfb;
  margin-left: 18px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.right_wrap {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #e3e3e3;
}
.pr-0{
  padding-left: 0;
}
.right_one{
  border-right: 1px solid #e3e3e3;
  width: 45%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_two{
  width: 45%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_wrap .guise_btn {
  margin-bottom: 45px;
  margin-left: 0;
}
.upload_head img {
  width: 43px;
  margin-right: 20px;
}
.right_wrap select {
  max-width: 230px;
}
.upload_head {
  font-size: 18px;
  color: #13116c;
  margin-bottom: 30px;
}
select.form-control {
  padding-right: 30px;
  min-height: 47px;
  border-color: #0038ff;
  background: url("./Assets/icons/down-arrow.png") #e2e9ff no-repeat center right 10px;
}
/* loader */
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  opacity: 0.5;
  border: 3px solid #09acfd;
  -webkit-animation: loader 1s ease-in-out infinite alternate;
  animation: loader 1s ease-in-out infinite alternate;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid #09acfd;
}

.loader:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid #09acfd;
}

@keyframes loader {
  from {
    transform: rotate(0deg) scale(1, 1);
    border-radius: 0px;
  }
  to {
    transform: rotate(360deg) scale(0, 0);
    border-radius: 50px;
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg) scale(1, 1);
    border-radius: 0px;
  }
  to {
    -webkit-transform: rotate(360deg) scale(0, 0);
    border-radius: 50px;
  }
}
.loader_wrapper {
  position: absolute;
  z-index: 99;
  background: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.custom-file-input {
  width: 160px;
  margin-bottom: 15px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input[selectedfile="yes"]::before{
  content: "File Selected";
}
button.guise_btn.uploadExcel_btn.text-right {
  position: absolute;
  bottom: 80px;
  right: 50px;
}
.custom-file-input::before {
  content: "Select file to Upload";
  display: inline-block;
  background: linear-gradient(top, #0038ff, #0038ff);
  border: 1px solid #0638fb;
  border-radius: 3px;
  padding: 15px 17px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #e2e9fe;
  font-weight: 300;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: #0038ff;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #0038ff, #0038ff);
}
.right_wrap select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
  border: 1px solid #e2e9fe;
  cursor: not-allowed;
  opacity: 0.6;
}
